.is-justify-center {
    justify-content: center;
}
.is-justify-between {
    justify-content: space-between;
}
.is-align-center {
    align-items: center;
}
.is-flex-column {
    flex-direction: column;
}
.is-flex-column-reverse {
    flex-direction: column-reverse;
}