@import "flex";
@import "~bulma";
@import "~bulma/sass/utilities/derived-variables";
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import '~bulma-accordion/dist/css/bulma-accordion.sass';

$navbar-item-img-max-height: 3rem;

.columns {
	border-radius: 1em;
	padding: 1em;
}
.section-column {
	margin: 2em;
	border-radius: 0.75em;
}
.profile-picture {	
    border-radius: 50%;
    margin-top: 2em;
}
.break {
    display: block;    
    height: 0.1em;
    border: 0;
    border-top: 0.5em solid #ccc;
    margin: 1em 0;    
    color: black;
    margin-right: 1em;
    margin-left: 1em;
}
.pad {
    padding-top: 2em;
}
.pad-light {
    padding-top: 2em;
}